
<div class="tareas">
  
  <div class="hoy">
    <h3>HOY</h3>

    <form name="nuevaTareaForm">
      <input type="text" required ng-model="tareas.tareaNueva.title" placeholder="Nueva tarea" />
      <input type="button" ng-click="nuevaTareaForm.$valid && tareas.anadeTarea(ul.selected.tareas)" value="+" />
    </form>

    <ul class="hoy">
      <li ng-repeat="tarea in ul.selected.tareas | filter:{date:tareas.hoy}">
        <label for="taskToday_{{$index}}">
          <input id="taskToday_{{$index}}" type="checkbox" ng-click="tareas.cambiarEstadoResuelta(tarea)" />
          <span ng-class="{resuelta:tareas.estaResuelta(tarea)}">{{tarea.title}}</span>
        </label>
      </li>
    </ul>

    <h3>HISTÓRICO</h3>

    <ul class="historico">
      <li ng-repeat="tarea in ul.selected.tareas | filter: {date:'!' + tareas.hoy}">
        <label for="taskHistory_{{$index}}">
          <input id="taskHistory_{{$index}}" type="checkbox" ng-click="tareas.cambiarEstadoResuelta(tarea)" />
          <span ng-class="{resuelta:tareas.estaResuelta(tarea)}">{{tarea.title}}</span>
        </label>
      </li>
    </ul>

  </div>

</div>