
<div class="tareas">
  
  <div class="hoy">
    <p>- HOY - </p>
    <ul class="hoy">
      <li ng-repeat="tarea in ul.selected.tareas.tareasHoy">
        <label for="taskToday_{{$index}}">
          <input id="taskToday_{{$index}}" type="checkbox" ng-click="tareas.cambiarEstadoResuelta(tarea)" />
          <span ng-class="{resuelta:tareas.estaResuelta(tarea)}">{{tarea.title}}</span>
        </label>
      </li>
    </ul>
  </div>

  <div class="historico">
    <p>- HISTÓRICO -</p>
    <ul>
      <li ng-repeat="tarea in ul.selected.tareas.tareasHistorico">
        <label for="taskHistory_{{$index}}">
          <input id="taskHistory_{{$index}}" type="checkbox" ng-click="tareas.cambiarEstadoResuelta(tarea)"/>
          <span ng-class="{resuelta:tareas.estaResuelta(tarea)}">({{tarea.date|date:'dd/MM/yyyy'}}) - {{tarea.title}}</span>
        </label>
      </li>
    </ul>
  </div>

</div>