
<div class="tareas">
  
  <div class="hoy">
    <h3>HOY</h3>

    <form name="nuevaTareaForm">
      <input type="text" required ng-model="tareas.tareaNueva.title" placeholder="Nueva tarea" />
      <input type="button" ng-click="nuevaTareaForm.$valid && tareas.anadeTarea(ul.selected.tareas)" value="+" />
    </form>

    <ul class="hoy">
      <li ng-repeat="tarea in ul.selected.tareas | filter:{date:tareas.hoy}">
        <md-checkbox id="taskToday_{{$index}}" ng-model="tarea.resuelta" />
          <span ng-class="{resuelta:tarea.resuelta}">{{tarea.title}}</span>
        </md-checkbox>

      </li>
    </ul>

    <h3>HISTÓRICO</h3>

    <ul class="historico">
      <li ng-repeat="tarea in ul.selected.tareas | filter: {date:'!' + tareas.hoy}">
        <md-checkbox id="taskHistory_{{$index}}" ng-model="tarea.resuelta" />
          <span ng-class="{resuelta:tarea.resuelta}">{{tarea.title}}</span>
        </md-checkbox>

      </li>
    </ul>

  </div>

</div>